

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: white;
}


/* Reset de ul y li  */

a {
    text-decoration: none;
    color: black;
} 

ul, li {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.barra_Navegacion {
    display: inline-block; 
}

h1{
    visibility: hidden;
    width: 0;
    height: 0;
}

h2 {
    text-align: center;
    padding: 20px;
    font-family: 'Open Sans';
}

/* @media screen and (min-width: 768px) { 

    .cont_General{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 4fr;
    }
    
    .cont_carruselInicio{
        grid-column: 1 / 2;
        grid-row: 1 / 4;
    }

} */


/*Display flex y con grid:
Habilita usar align = vertical
            justify = Horizontal
            Self = El mismo */

/* Carrusel Inicio  */

.imagen_Carrusel img{
    object-fit: cover;
    width: fit-content;
    height: 60vh;
    /* object-position: top; */
}

.imagen_cItems img{
    object-fit: cover;
    width: fit-content;
    height: 60vh;
}

.imagen_Colecciones img{
    object-fit: cover;
    height: 50vh;
}

.imagen_Novedades img{
    object-fit: cover;
    height: 50vh;
    width: 100vw;
    overflow: hidden;
    filter: blur(50);
}

/* Old CSS */

/* NavBar */

    .nav_Prop {
        display: inline-block; 
    }


    .nav_Logo {
        width: 200px;
        height: 50px;
    }

    .nav_List {
        margin-left: 500px;
        display: inline-block;
        font-size: 1.3rem;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        
    }

    .nav_List ul li{
        display: inline-block; 
        padding: 0 15px 15px;
    }

/* Seccion | Imagen de inicio */

    .imagen_Prop {
        width: 100vw; 
        /* vw: Tamaño de la totalidad de la pantalla */
        height: 70vh;
        /* vh: totalidad de la altura - el numero es un porcentaje*/
    }

    .oferta_Box {
        display: inline-block;
        border-radius: 20px;
        box-shadow: 20px 20px 20px grey;
        overflow: hidden;
        padding: 0 20px;
        margin-left: 50px;
        margin-bottom: 25px;
    }

    .cImagen_Descripcion {
        display: inline-block;
        /* background-color: black; */
        width: 50vw;
        text-align: center;
    }

    .cImagen_Texto {
        padding: 50px;
        margin-bottom: 250px;
    }

    

    /*Seccion | Novedades */

    .novedades_Contenedor {
        position: relative;
        height: 800px;
    }

    .novedades_Box {
        display: inline-block; 
        width: 100vw;
        height: 800px;
        position: relative;
        filter: brightness(0.95);
    }

    .novedades_Texto{
        text-align: center;
        font-size: 5rem;
        /* top: 25px; */
        transform: translate(0%, -500%);
        color: white;
        text-shadow: 10px 10px 10px rgba(105, 105, 105, 0.479);
    }

/* Pagina de catalogo */

    .categoria_Contenedor {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
    }

        .itemCategoria {
            object-fit: cover;
            /* width: fit-content; */
            width: 100%;
            height: 100%;
        }

        .text_topLabel {
            grid-column: 1 / 3;
            grid-row: 1 / 1;
            height: 20%;
        }

    /* Pagina de colecciones */

    .imagen_Coleccion img {
        /* grid-column: 1 / 2;
        grid-row: 1/ 3; */
        object-fit: cover;
        width: 100%;
        height: 100%;
        overflow: hidden;
    }

    .contenedor_ItemsC {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
    }

        .itemColeccion {
            /* grid-column: 1 / 3;
            grid-row: 1/ 3; */
            object-fit: cover;
            width: 100%;
            height: 100%;
        }



            /* .c_topLabel img {
                object-fit: cover;
                width: 100%;
                height: 40vh;
            } */

    

    /* Pagina de contacto */

    /* .contenedorForm {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 1fr;

    } */

    .formDatos {
        margin-left: 2vw;
    }
    
        .formDatos input {
            width: 95%;
            /* max-width: 50vw; */
        }

        .formDatos textarea {
            width: 95%;
            /* max-width: 50vw; */
        }

    .formBotones {
        margin: 5px;
    }

    .c_newsletter {
        visibility: hidden;
    }

/* Seccion de footer */

footer {
    background-color: rgb(30, 30, 30);   
    color: white;
    padding: 2rem;
}

    footer a { 
        color: white;
    }

    .contenedor_Filosofia {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

        .f_Box{
            margin: 1rem;
        }

    .contenedor_Contactos {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        margin-bottom: 1rem;
    }
    
        .newsletter {
            display: flex;
            flex-direction: column;
            width: 90%;
            margin-bottom: 1rem;
        }

        .redesSociales {
            display: flex;
            flex-direction: column;
            width: 90%;
            margin-bottom: 1rem;
        }

            .newsletter_Contenido {
                display: flex;
                flex-direction: row;
                gap: 2rem;
            }

                .newsletter_Field {
                    width: 80%;
                }

            .redesSociales_Contenido {
                display: flex;
                flex-direction: row;
                gap: 10%;
            }

                .f_socialLogo img {
                    width: 24px;
                    height: 24px;
                }

        .contenedor_ListBottom {
            display: flex;
            justify-content: space-around;
            flex-wrap: wrap;
            padding: 0 1rem;
            gap: 2%;
        }

    

    /* Media query */

        /* Se ordena de mayor a menor tamaño */

    /* @media screen and (max-width: 480px) {  Igual a 480 o menor (Para Desktop first)
    } */

    @media screen and (min-width: 720px) {

        /* Media | Index */

        .imagen_Carrusel img{
            object-fit: cover;
            width: fit-content;
            height: 80vh;
            object-position: top;
        }

        /* Media | Pagina de Colecciones */
        
        .contenedor_Coleccion {
            display: flex;
            /* flex-direction: column; */
            
        }

            .imagen_Coleccion {
                width: 50%;
            }

            .contenedor_ItemsC {
                width: 50%;
            }

        /* Media | Pagina de Contacto */

        .c_newsletter {
            visibility: visible;
        }

        .categoria_Contenedor {
            grid-template-columns: repeat(4, 1fr);
            grid-template-rows: 1fr;
            
        }

        .text_topLabel {
            grid-column: 1 / 5;
        }

        /* Media | Pagina de footer */

        .contenedor_Filosofia {
            display: flex;
            flex-direction: row;

        }
    
        .contenedor_Contactos {
            display: flex;
            flex-direction: row;
            justify-content: space-around;
        }
    
            .newsletter {
                display: flex;
                flex-direction: column;
                width: 30%;
            }
    
            .redesSociales {
                display: flex;
                flex-direction: column;
                width: 30%;
            }
    
                .newsletter_Contenido {
                    display: flex;
                    flex-direction: row;
                    gap: 2%;
                }
    
                    .newsletter_Field {
                        width: 80%;
                        border-radius: 3px;
                    }
    
                .redesSociales_Contenido {
                    display: flex;
                    flex-direction: row;
                    gap: 10%;
                }
    
                    .f_socialLogo img {
                        width: 24px;
                        height: 24px;
                    }
    
        .contenedor_ListBottom {
            display: flex;
            justify-content: space-around;
        }
    }














